#navbarContent {
    justify-content: flex-end;
}
    
body > h1 {
margin-top: 10px;
}

#all-teddies {
    display:flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.card > p {
    margin-bottom: 5px;
}

.card h2 {
    margin-top: 5px;
}

#cliquable {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .not-for-mobile {
        display: none;
    }

    #basket img {
        width: 60px;
    }
    .total-price {
        width: 40px;
    }
}

@media screen and (max-width: 769px) {
    #all-teddies .card > img {
        margin: auto;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (min-width: 770px) {

    .card {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card > img {
        margin: auto;
        height: 400px;
        object-fit: cover;
    }
}

#product {
    width: 80%;
    margin: auto;
}

#basket td, #message td, #basket th {
    vertical-align: middle;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

#basket .table {
    table-layout: fixed;
}

#basket tr {
    border: 1px solid black;
}

td > img {
    max-width: 100px;
    width: 70%;
}

input:invalid {
    border: red solid 3px;
}