.navbar-nav {
    position: absolute;
    right: 10px;
}

body > h1 {
margin-top: 10px;
}

#all-teddies {
    display:flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.card > p {
    margin-bottom: 5px;
}

.card h2 {
    margin-top: 5px;
}

@media screen and (max-width: 769px) {
    #all-teddies .card > img {
        max-height: 200px;
    }
}

@media screen and (min-width: 770px) {
    .card > img {
        max-height: 336px;
        max-width: 500px;
    }
}